<launch>
  <node pkg="leo_driving" type="leo_driving_node" name="leo_driving_node" output="screen">
	<param name="Kpy_param" value="0.1"  /> 
	<param name="linear_vel" value="0.0" /> 
	<param name="boundary_percent" value="0.02" /> 
	<param name="side_obstacle_dist" value="0.2" /> 
	<param name="front_obstacle_dist" value="0.5" /> 
	<param name="obastalce_coefficient" value="0.1" /> 
  </node>
</launch>
