<?xml version="1.0"?>
<launch>
<!-- Velodyne -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"> </include>

<!-- EKF ODOM -->
 <!-- <include file="$(find navigation)/launch/odom_ekf.launch"> </include>-->
 

  <master auto="start"/>
  <param name="/use_sim_time" value="false"/>
  <!--- Run gmapping -->
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    <param name="delta" value="0.02"/>
    <param name="xmin" value="-20"/>
    <param name="xmax" value="20"/>
    <param name="ymin" value="-20"/>
    <param name="ymax" value="20"/>
    <!--remap from="scan" to="scan"/-->
    <param name="base_frame" value="base_link" />
    <param name="odom_frame" value="odom" />

    <param name="linearUpdate" value="0.1"/>
    <param name="angularUpdate" value="0.1"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="80"/>
    <rosparam>
      odom_frame: odom
      map_update_interval: 5.0
      maxUrange: 4.0
      maxRange: 5.0
      sigma: 0.05
      kernelSize: 1
      lstep: 0.05
      astep: 0.05
      iterations: 5
      lsigma: 0.075
      ogain: 3.0
      lskip: 0
      linearUpdate: 0.1
      angularUpdate: 0.1
      temporalUpdate: -1.0
      resampleThreshold: 0.5
      particles: 80
      xmin: -10.0
      ymin: -10.0
      xmax: 10.0
      ymax: 10.0
      delta: 0.02
      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005
      base_frame: base_link
    </rosparam>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>

</launch>

