<launch>
  <arg name="use_rp" default="true"/>
  <arg name="use_velo" default="true"/>
  <arg name="use_joy" default="true"/>

  <include file="$(find leo_navigation)/launch/gmapping.launch"/>
  <include if="$(arg use_joy)" file="$(find teleop_twist_joy)/launch/teleop.launch"/>
  <include if="$(arg use_velo)" file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
  <include file="$(find leo_navigation)/launch/odometry.launch"/>
  
  <node if="$(arg use_rp)" name="rplidarNode_front"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/rplidar"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
    <param name="output_scan"         type="string" value="/up_scan"/>
  </node>  <node pkg="leo_driving" type="leo_driving_node" name="leo_driving_node" output="screen">

	<param name="Kpy_param" value="3.5"  /> 
	<param name="Kpy_param_rot" value="0.3" /> 
	<param name="Kpy_int_param_rot" value="0.3" /> 
	<param name="linear_vel" value="0.3" /> 
	<param name="line_thresh" value="0.1" /> 
	
	<param name="boundary_percent" value="0.02" /> 
	
	<param name="line_width_min" value="0.5"/>
	<param name="line_width_max" value="1.0"/>
	<param name="mapping_mode" value="true" /> 	
	
  </node>

  <node pkg="leo_driving" type="obs_avoiding_node" name="obs_avoiding_node" output="screen">
  	<param name="obstacle_coefficient" value="0.005"/>
  	<param name="front_obstacle_dist" value="0.1"/>
  </node>
</launch>

