<?xml version="1.0"?>
<launch>

  <arg name="map_file" default="~/catkin_ws/maps/map.yaml"/>

<!-- MAP -->
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> 
<!-- AMCL -->
  <node name="amcl"
        pkg="amcl"
        type="amcl"
        clear_params="true"
        output="screen">
    <rosparam command="load" file="$(find leo_driving)/config/amcl.yaml"/>
  </node>

<!-- Velodyne -->
  <!--include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"> </include-->


<!--node pkg="tf" type="static_transform_publisher" name="base_to_velo" args="0 0 0 0 0 0 base_link velodyne 100"/-->
<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>

</launch>

