 
<launch>
	<node pkg="nodelet" type="nodelet" args="manager"
    name="tunnel_driving_nodelet_manager" output="screen" />

<!--node pkg="nodelet" type="nodelet" args="load tunnel_driving/AisleDetectNode tunnel_driving_nodelet_manager"
    name="AisleDetectNode_loader" output="screen">
	</node-->
	<node pkg="nodelet" type="nodelet" args="load tunnel_driving/LocalizationNode tunnel_driving_nodelet_manager"
    name="LocalizationNode_loader" output="screen">
	</node>

</launch>